<style>
#container {
	min-width:300px;
	max-width: 1200px;
	height: 300px;
	margin: 0 auto
}
</style>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:black;
}

tr:nth-child(even) {
    background-color: #eae4d7;
}

tr:nth-child(odd) {
    background-color: #8bf4f3;
}
</style>
<div class="row" ng-init="init_admin();">
<div class="col-md-12">


<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10"><br><br>
<h3><span style="color:green;">Welcome to your Student Communication!!!</span></h3>
</div>
<div class="col-md-1"></div>
</div>
</div>


<div class="row">
<div class="col-md-11">
<h5><span style="color:green;">Course : {{current_user.course}}</span></h5>
<table>
  <tr>
  	<th>Student Name</th>
  	<th>Student Email</th>
    <th>Message</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="x in current_user.students">
    <td>{{x.first_name}} {{x.last_name}}</td>
    <td>{{x.user_email}}</td>
    <td><input type="text" ng-model="message"></td>
    <td><button type="button" class="btn btn-success" ng-click="send_message_student(x,message);">Send</button></td>
  </tr>
</table>
</div>
</div>

<div class="row">

<div class="col-md-11">

<h5><span style="color:green;">Your Inbox</span></h5>
<table>
  <tr>
    <th>Senders Email</th>
    <th>Senders Full Name</th>
    <th>Message</th>
  </tr>
  <tr ng-repeat="x in current_user.message" >
    <td>{{x.senders_email}}</td>
    <td>{{x.senders_first_name}} {{x.senders_last_name}}</td>
    <td>{{x.message}}</td>
  </tr>
</table>
</div>

</div>

</div>