<style>
#container {
	min-width:300px;
	max-width: 1200px;
	height: 300px;
	margin: 0 auto
}
</style>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:black;
}

tr:nth-child(even) {
    background-color: #eae4d7;
}

tr:nth-child(odd) {
    background-color: #8bf4f3;
}
</style>
<div class="row" ng-init="init_teachers('teachers');">
<div class="col-md-12">


<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10"><br><br>
<h3><span style="color:green;">Welcome to your Assignment Page !!!</span></h3>
</div>
<div class="col-md-1"></div>
</div>
</div>


<div class="row">
<div class="col-md-11">
<h5><span style="color:green;">Course : {{current_user.course}}</span></h5>
<table>
  <tr>
  	<th>Student Name</th>
  	<th>Student Email</th>
    <th>Assignment Name</th>
    <th>Total Marks</th>
    <th>Marks Obtained</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="x in current_user.students">
    <td>{{x.first_name}} {{x.last_name}}</td>
    <td>{{x.user_email}}</td>
    <td><input type="text" ng-model="assignment_name"></td>
    <td><input type="number" ng-model="assignment_total"></td>
    <td><input type="number" ng-model="assignment_score"></td>
    <td><button type="button" class="btn btn-success" ng-click="post_grades(x,assignment_name,assignment_total,assignment_score);">Post</button></td>
  </tr>
</table>
</div>
</div>

</div>