<style>
#container0 {
	min-width:300px;
	max-width: 1200px;
	height: 300px;
	margin: 0 auto
}
#container1 {
	min-width:300px;
	max-width: 1200px;
	height: 300px;
	margin: 0 auto
}
#container2 {
	min-width:300px;
	max-width: 1200px;
	height: 300px;
	margin: 0 auto
}
</style>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:black;
}

tr:nth-child(even) {
    background-color: #b7e500;
}

tr:nth-child(odd) {
    background-color: #1df2ee;
}
</style>
<div class="row"  ng-init="init_user1('students');">
<div class="col-md-12">


<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10"><br><br>
<h3><span style="color:green;">Welcome to My Grades Page !!!</span></h3>
</div>
<div class="col-md-1"></div>
</div>
</div>


<div class="row">
<div class="col-md-5">
<h5><span style="color:green;">Subject : Science</span></h5>
<table>
  <tr>
    <th>Assignment Number</th>
    <th>Total Marks</th>
    <th>Marks Obtained</th>
  </tr>
  <tr ng-repeat="x in current_user.courses.science"  ng-if="$index < 5">
    <td>{{x.Assingment}}</td>
    <td>{{x.Total_Marks}}</td>
    <td>{{x.Marks_Obtained}}</td>
  </tr>
</table>
</div>
<div class="col-md-5">
<h5><span style="color:green;">Science Grades</span></h5>
<div id="container0" ng-init="testchart();"></div>
</div>
</div>


<div class="row">
<div class="col-md-5">
<h5><span style="color:green;">Subject : Mathematics</span></h5>
<table>
  <tr>
    <th>Assignment Number</th>
    <th>Total Marks</th>
    <th>Marks Obtained</th>
  </tr>
  <tr ng-repeat="x in current_user.courses.maths" ng-if="$index < 5">
    <td>{{x.Assingment}}</td>
    <td>{{x.Total_Marks}}</td>
    <td>{{x.Marks_Obtained}}</td>
  </tr>
</table>
</div>
<div class="col-md-5">
<h5><span style="color:green;">Mathematics Grades</span></h5>
<div id="container1" ng-init="testchart1();"></div>
</div>
</div>


<div class="row">
<div class="col-md-5">
<h5><span style="color:green;">Subject : English</span></h5>
<table>
  <tr>
    <th>Assignment Number</th>
    <th>Total Marks</th>
    <th>Marks Obtained</th>
  </tr>
  <tr ng-repeat="x in current_user.courses.english"  ng-if="$index < 5">
    <td>{{x.Assingment}}</td>
    <td>{{x.Total_Marks}}</td>
    <td>{{x.Marks_Obtained}}</td>
  </tr>
</table>
</div>
<div class="col-md-5">
<h5><span style="color:green;">English Grades</span></h5>
<div id="container2" ng-init="testchart2();"></div>
</div>
</div>
</div>